NODE_ENV=development
PORT=8000
#MONGODB_URI=mongodb+srv://mern-proshop:mern-proshop@cluster0.qcw0gcn.mongodb.net/mern-proshop?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URI=mongodb+srv://mern-proshop:mern-proshop@cluster0.qcw0gcn.mongodb.net/
JWT_SECRET=abc123
PAYPAL_CLIENT_ID=AUcuTlQzuJrj6xPoxf573hcaHG5CmPD3KCfrEzVdC4gShL8wunI-Tkyt-xmgLMmT2OjdhWXrmjJi5oLB
